@use 'variables' as *;



//Social Card styles

.socials-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}

.socials-card {
    position: relative;
    min-height: min(13.5rem, 40vh);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--card-background);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: 0.5s;


    &:hover {
        background-color: var(--hover-background);
    }
}

.border-facebook {
  border-top: 0.27rem solid map-get($socialmedia, "Facebook");
}

.border-twitter {
  border-top: 0.27rem solid map-get($socialmedia, "Twitter");
}


//Alternative way to make a border with Instagrams gradient colors, since border doesnt take gradients

.border-instagram {
    &::before {
        content: ""; 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        height: 4px;
        background: map-get($socialmedia, "Instagram"); 
        z-index: 1; 
      }
    
      &.border-instagram::before {
        background: map-get($socialmedia, "Instagram");
      }
}

.border-youtube {
  border-top: 0.27rem solid map-get($socialmedia, "YouTube");
}

.followers-container {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.subs-number {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
}


.followers {
    margin: 0;
    letter-spacing: 0.2rem;
    color: var(--secondary-text);
    font-size: 0.875rem;
}

.icons-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: var(--secondary-text);
    font-size: 0.875rem;
}


.text-green {
    display: flex;
    flex-direction: row;
    color: map-get($primary, "Lime-Green");
    font-weight: 700;
    font-size: 0.875rem;
    gap: 0.5rem;
  }
  
  .text-red {
    display: flex;
    flex-direction: row;
    color: map-get($primary, "Bright-Red");
    font-weight: 700;
    font-size: 0.875rem;
    gap: 0.5rem;
  }

article {
    display: flex;
    align-items: center;
    flex-direction: column;
}


